@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  /* === COLORS  === */
  /* PRIMARY  */
  --orange: hsl(25, 97%, 53%);

  /* NEUTRALS */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsla(216, 12%, 54%, 0.15);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  /* TYPOGRAPHY */
  --font-family: "Overpass", sans-serif; /* weight: 400, 700 */
  /* font-size: 15px; */
}

/* ## Layout: - Mobile: 375px, - Desktop: 1440px */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: var(--dark-blue);
  margin: 0 1.5rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  max-width: 26rem;
}

/* Ratings Card */
.rate__card .card__logo {
  background-color: var(--medium-grey);
  border-radius: 50%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
}

.rate__card .card__heading {
  font-weight: bold;
  line-height: 0;
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  padding-bottom: 1.5rem;
}

.rate__card .card__text {
  color: var(--light-grey);
  font-size: clamp(0.875rem, 5vw, 0.9rem);
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

.rate__card .card__ratings {
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--light-grey);
  list-style: none;
}

/* individual ratings 1- 5 */
.rate__card .rating__wrapper {
  background-color: var(--medium-grey);
  font-weight: 700;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__ratings .rating__wrapper:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}
.card__ratings .rating__wrapper:focus,
.card__ratings .rating__wrapper:active {
  background-color: var(--light-grey);
  color: var(--very-dark-blue);
}

/* action: submit buttons */

.submit-btn {
  color: var(--dark-blue);
  background-color: var(--orange);
  font-weight: 700;
  outline: none;
  border: none;
  width: 100%;
  padding: 1em;
  border-radius: 1.5em;
  letter-spacing: 0.3em;
  height: 3em;
}

/* button:hover,
button:focus,
button:active, */
.submit-btn:hover,
.submit-btn:focus,
.submit-btn:active {
  background-color: var(--white);
  color: var(--very-dark-blue);
  cursor: pointer;
}

/* Response Card */
.response__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.response__card .card__img {
  margin-bottom: 1.5rem;
}

.response__card .card__rate--selected {
  background-color: var(--medium-grey);
  color: var(--orange);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.response__card .card__heading {
  color: var(--white);
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: clamp(1.5rem, 3.5vw, 1.75rem);
}

.response__card .card__text {
  color: var(--light-grey);
  font-size: clamp(0.875rem, 3.5vw, 0.9rem);
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

/* Responsive Styling  */
@media screen and (min-width: 45rem) {
  .container {
    padding: 2rem;
  }

  .rate__card .card__logo {
    margin-bottom: 2.5rem;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
  }
  .rate__card .card__heading,
  .rate__card .card__text {
    padding-bottom: 1.5rem;
  }

  .rate__card .card__text {
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .rate__card .card__ratings {
    padding-bottom: 2rem;
  }

  .rate.card .card__ratings .rating__wrapper {
    height: 3rem;
    width: 3rem;
  }
}
